server {
  listen 80;
  server_name qn-message.com www.qn-message.com;

  root /var/www/qn-message.com;
  index index.html;

  location / {
    try_files $uri $uri.html $uri/ =404;
  }

  location = /404.html {
    internal;
  }

  error_page 404 /404.html;
}
